.headline-container {
    height: 600px;
    width: 100%;
    padding: 5% 33% 0 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.headline {
    padding-bottom: 15px;
}

.main-headline {
    font-size: 48px;
    font-weight: 900;
}

.secondary-headline {
    padding-right: 39%;
}

.benefits-container {
    text-align: center;
    padding: 60px 10%;
}

.benefits {
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 120px;
}

.benefit-title {
    padding-bottom: 12px;
    font-size: 25px;
    font-weight: 600;
}

.owner-container {
    padding: 5% 40% 5% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.owner-container .secondary-headline {
    padding-right: 15%;
}

.callToActionButton {
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(52, 215, 137);
    color: white;
    font-weight: 900;
}

.callToActionButton:hover {
    background-color: rgb(25, 180, 105);
}

/* Responsive layout - when the screen is less than 1250px wide */
@media screen and (max-width: 1250px) {    
    .headline-container {
        padding: 5% 26% 0 10%;
    }

    .main-headline {
        font-size: 44px;
    }
    
    .secondary-headline {
        padding-right: 35%;
    }
    
    .benefits {
        column-gap: 7%;
    }
    
    .benefit-title {
        font-size: 23px;
    }

    .benefit-text {
        font-size: 15px;
    }
    
    .owner-container {
        padding: 5% 27% 5% 10%;
    }

    .owner-container .secondary-headline {
        padding-right: 25%;
    }
}

/* Responsive layout - when the screen is less than 1000px wide */
@media screen and (max-width: 1000px) {    
    .headline-container {
        padding: 6% 15% 0 10%;
    }

    .main-headline {
        font-size: 42px;
    }
    
    .secondary-headline {
        font-size: 24px;
        padding-right: 32%;
    }
    
    .benefits {
        column-gap: 6%;
    }
    
    .benefit-title {
        font-size: 18px;
    }

    .benefit-text {
        font-size: 14px;
    }
    
    .owner-container {
        padding: 5% 10% 5% 10%;
    }

    .owner-container .secondary-headline {
        padding-right: 27%;
    }

    .owner-container .secondary-headline {
        padding-right: 34%;
    }
}

/* Responsive layout - when the screen is less than 800px wide (tablet portrait) */
@media screen and (max-width: 800px) {    
    .headline-container {
        height: 400px;
        padding: 10% 10% 0 10%;
    }

    .main-headline {
        font-size: 32px;
    }
    
    .secondary-headline {
        font-size: 20px;
        padding-right: 34%;
    }
    
    .benefits {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 7%;
        padding-bottom: 90px;
    }
    
    .benefit-title {
        font-size: 28px;
    }

    .benefit-text {
        padding: 0 30%;
        font-size: 16px;
    }
    
    .owner-container {
        padding: 10% 10%;
    }

    .owner-container .main-headline {
        font-size: 38px;
    }

    .owner-container .secondary-headline {
        padding-right: 24%;
        font-size: 24px;
    }
}

/* Responsive layout - when the screen is less than 600px wide (mobile) */
@media screen and (max-width: 600px) {    
    .headline-container {
        height: 300px;
    }

    .main-headline {
        font-size: 28px;
        padding-bottom: 10px;
    }
    
    .secondary-headline {
        font-size: 16px;
        padding-right: 14%;
    }

    .benefits-container {
        padding: 40px 10%;
    }
    
    .benefits {
        row-gap: 5%;
        padding-bottom: 70px;
    }
    
    .benefit-title {
        font-size: 28px;
        padding-bottom: 8px;
    }

    .benefit-text {
        padding: 0 25%;
        font-size: 14px;
    }

    .owner-container .main-headline {
        font-size: 28px;
    }

    .owner-container .secondary-headline {
        padding-right: 20%;
        font-size: 16px;
    }
}
