.invest {
    text-align: center;
    padding: 40px 10% 0px 10%;
}

.invest .title {
    font-size: 40px;
    margin: 0 18%;
}

.invest .size {
    font-size: 30px;
}

.invest .key-features {
    padding: 10px 20% 20px 20%;
    row-gap: 20px;
}

.invest .key-features .feature-name {
    font-size: 25px;
}

.invest .key-features .feature-value {
    font-size: 15px;
}

.transaction {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid gray;
    margin: 0 18%;
}

.invest .main-headline {
    font-size: 30px;
}

.invest input {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    width: 250px;
    height: 100px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.invest .callToActionButton {
    margin-top: 20px;
    margin-bottom: 30px;
}

.invest .secondary-headline {
    padding-right: 5%;
    padding-left: 5%;
}

.hidden {
    display: none;
}

/* Responsive layout - when the screen is less than 1250px wide */
@media screen and (max-width: 1250px) {
}

/* Responsive layout - when the screen is less than 1000px wide */
@media screen and (max-width: 1000px) {    
    .invest .key-features .feature-name {
        font-size: 21px;
    }
}

/* Responsive layout - when the screen is less than 800px wide (tablet portrait) */
@media screen and (max-width: 800px) {    
    .invest .title {
        font-size: 30px;
    }
    
    .invest .size {
        font-size: 25px;
    }
    
    .invest .key-features {
        padding-right: 15%;
        padding-left: 15%;
    }
    
    .invest .key-features .feature-name {
        font-size: 18px;
    }
    
    .invest .key-features .feature-value {
        font-size: 14px;
    }

    .transaction {
        margin: 0 15%;
    }

    .invest .main-headline {
        font-size: 25px;
    }
}

/* Responsive layout - when the screen is less than 600px wide (mobile) */
@media screen and (max-width: 600px) {    
    .invest .title {
        font-size: 25px;
        margin: 0 5%;
    }
    
    .invest .size {
        font-size: 22px;
    }
    
    .invest .key-features .feature-name {
        font-size: 13px;
    }

    .invest .key-features .feature-value {
        font-size: 11px;
    }

    .transaction {
        margin: 0 10%;
    }

    .invest .main-headline {
        font-size: 20px;
    }

    .invest input {
        font-size: 35px;
        width: 190px;
        height: 100px;
    }
}
